@media only screen and (min-width: 1025px) and (max-width: 1125px) { 
    .principalContainer {
        height: auto;
        width: 100%;
        background-color: #030014;
        position: relative;
        display: flex;
        justify-content: space-between;
        .soloDesktop{
            width: 95vw;
            height: 800px;
            position: absolute;
            .soloDesktopVideo{
                width: 100%;
                height: 100%;
                margin-top: -310px;
                object-fit: cover;
            }
        }
        .divisor{
            width: 100%;
            height: 100%;
            display: flex;
        }
        .backgroundContainer{
            width: 100%;
            height: 940px;
            position: absolute;
            z-index: 800;
            background-image: url('/public/main.svg');
            background-size: cover;
            background-position: left;
            background-repeat: no-repeat; /* Agregado para asegurar que el fondo no se repita */
        }
        .videoContainer {
            position: absolute;
            top: -42.2% !important;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: rotate(180deg);
            }
        }
    }
}

@media only screen and (min-width: 1125px) and (max-width: 1438px) { 
    .principalContainer {
        height: auto;
        width: 100%;
        background-color: #030014;
        position: relative;
        display: flex;
        justify-content: space-between;
        .soloDesktop{
            width: 95vw;
            height: 800px;
            position: absolute;
            .soloDesktopVideo{
                width: 100%;
                height: 100%;
                margin-top: -310px;
                object-fit: cover;
            }
        }
        .divisor{
            width: 100%;
            height: 100%;
            display: flex;
        }
        .backgroundContainer{
            width: 100%;
            height: 940px;
            position: absolute;
            z-index: 800;
            background-image: url('/public/main.svg');
            background-size: cover;
            background-position: left;
            background-repeat: no-repeat; /* Agregado para asegurar que el fondo no se repita */
        }
        .videoContainer {
            position: absolute;
            top: -42.2% !important;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: rotate(180deg);
            }
        }
    }
}

@media (min-width: 1438px)  { 
    .principalContainer {
        height: auto;
        width: 100%;
        background-color: #030014;
        position: relative;
        display: flex;
        justify-content: space-between;
        .soloDesktop{
            width: 95vw;
            height: 800px;
            position: absolute;
            .soloDesktopVideo{
                width: 100%;
                height: 100%;
                margin-top: -310px;
                object-fit: cover;
            }
        }
        .divisor{
            width: 100%;
            height: 100%;
            display: flex;
        }
        .backgroundContainer{
            width: 100%;
            height: 940px;
            position: absolute;
            z-index: 800;
            background-image: url('/public/main.svg');
            background-size: cover;
            background-position: left;
            background-repeat: no-repeat; /* Agregado para asegurar que el fondo no se repita */
        }
        .videoContainer {
            position: absolute;
            top: -42.2% !important;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: rotate(180deg);
            }
        }
    }
    
}
