.containerPrincipalNavbarPortfolio{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background-color: rgba(3, 0, 20, 0.2); /* Color de fondo con transparencia */
    backdrop-filter: blur(8px); /* Aplicar desenfoque */
    -webkit-backdrop-filter: blur(8px); /* Para navegadores webkit (Safari) */
    z-index: 50;
    box-shadow: 0px 2px 8px rgba(42, 14, 97, 0.5); /* Sombra */
    display: flex;
    .logoContainer{
        width: 30%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 70%;
            height: 90%;
            object-fit: contain;
        }
    }
    .logoPalabrasContainer{
        width: 40%;
        height: 100%;
        margin-left: 10px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .contenedorBarras{
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .iconBars{
            color: #fff;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }
}