@media (max-width: 600px) { 
    .contenedorGralProyectsDetail{
        width: 100%;
        height: 100vh;
        background-color: #030014;
        padding-top: 80px;
        .contenedorVolver{
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            .back{
                color: #fff;
                margin-left: 8px;
                margin-top: -5px !important;
                margin-bottom: 5px !important;
                font-weight: 400;
                cursor: pointer;
            }
            .flechaIzquierda{
                color: #fff;
                margin-left: 10px;
                cursor: pointer;
            }
        }
        .contenedorTituloProyect{
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            h2{
                color: #fff;
                font-size: 1.3rem;
                margin-left: 10px;
            }
        }
        .contenedorVideoProyect{
            width: 100%;
            height: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
            iframe{
                width: 95%;
                height: 100%;
                outline: none !important;
                border: none !important;
            }
        }
    }
}