.contenedorGralDescriptionInitialPortfolio{
    height: auto;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 40;
    flex-direction: column;
    .contenedorCardFullStack{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 300px;
        .cardFullStack{
            padding: 2px 15px; /* px-[15px] py-[6px] */
            border: solid 1px #7042f88b; /* border border-[#7042f88b] */
            opacity: 0.9; /* opacity-[0.9] */
            isolation: isolate;
            overflow: hidden;
            align-items: center;
            -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
            border-radius: 32px;
            box-shadow: inset 0 -7px 11px #a48fff1f;
            display: flex;
            width: 150px;
            height: 25px;
            transition: box-shadow .45s cubic-bezier(.6,.6,0,1);
            align-items: center !important;
            margin-left: -2px !important;
            justify-content: center !important;
            .text {
                color: #fff;
                font-size: 0.8rem;
                margin-top: 2px;
                margin-left: 10px;
                background: linear-gradient(0deg,hsla(0,0%,100%,.4),hsla(0,0%,100%,.4)),linear-gradient(90.01deg,#e59cff .01%,#ba9cff 50.01%,#9cb2ff);
                background-blend-mode: normal,screen;
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;

            }
            .iconoEstrellas{
                width: 20px;
                color: #B49BFF;
                margin-top: 5px;
            }
        }
    }
    .titleTextPresentation{
        width: 80%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 20px;
        .theBest {
            color: #00c4ff
        }
        h1{
            color: #fff;
            font-weight: 700;
            font-size: 40px;
            line-height: 1.5; /* Ajusta el espacio entre líneas según tus preferencias */
        }
    }
    .descriptionTextPresentation{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 10px;
        background-color: #030014;;
        p{
            width: 90%;
            font-size: 16px; /* Equivalente a T3 en Tailwind */
            font-weight: 500; /* Equivalente a 400 en Tailwind */
            margin-bottom: 20px; /* Equivalente a mb-[20px] en Tailwind */
            color: #6b7280; /* Equivalente a text-slate-400 en Tailwind */
        }
    }
}