@media (min-width: 1025px) { 
    .contenedorGralDescriptionInitialPortfolio{
        height: auto;
        width: 50%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: start !important;
        z-index: 40;
        flex-direction: column;
        margin-top: -180px !important;
        padding-left: 20px;
        .contenedorCardFullStack{
            width: 100%;
            height: 10%;
            display: flex;
            justify-content: start;
            align-items: center;
            margin-top: 300px;
            padding-left: 80px;
            .cardFullStack{
                padding: 2px 15px; /* px-[15px] py-[6px] */
                border: solid 1px #7042f88b; /* border border-[#7042f88b] */
                opacity: 0.9; /* opacity-[0.9] */
                isolation: isolate;
                overflow: hidden;
                align-items: center;
                -webkit-backdrop-filter: blur(6px);
                backdrop-filter: blur(6px);
                border-radius: 32px;
                box-shadow: inset 0 -7px 11px #a48fff1f;
                display: flex;
                width: 170px;
                height: 30px;
                transition: box-shadow .45s cubic-bezier(.6,.6,0,1);
                align-items: center !important;
                margin-left: -2px !important;
                justify-content: center !important;
                margin-bottom: -60px;
                .text {
                    color: #fff;
                    font-size: 1rem;
                    margin-top: 2px;
                    margin-left: 10px;
                    background: linear-gradient(0deg,hsla(0,0%,100%,.4),hsla(0,0%,100%,.4)),linear-gradient(90.01deg,#e59cff .01%,#ba9cff 50.01%,#9cb2ff);
                    background-blend-mode: normal,screen;
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
    
                }
                .iconoEstrellas{
                    width: 20px;
                    color: #B49BFF;
                    margin-top: 5px;
                }
            }
        }
        .titleTextPresentation{
            width: 90%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: start;
            margin-top: 20px;
            .theBest {
                color: #00c4ff
            }
            h1{
                color: #fff;
                font-weight: 700;
                font-size: 54px;
                line-height: 1.5; /* Ajusta el espacio entre líneas según tus preferencias */
            }
        }
        .descriptionTextPresentation{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: start;
            margin-top: 10px;
            padding-bottom: 10px;
            p{
                width: 80%;
                font-size: 22px; /* Equivalente a T3 en Tailwind */
                font-weight: 400 !important;
                margin-bottom: 20px; /* Equivalente a mb-[20px] en Tailwind */
                color: #ffffffc5; /* Equivalente a text-slate-400 en Tailwind */
                letter-spacing: 0.3px;
                margin-left: -60px;
            }
        }
    }
}
